

<%= render 'layouts/nav' %>


<div class ="container">
  <div class= "row">
    <div class= "col-md-12">
      <div class="page-header">
        <h1>Type Manager
         <small>

          <%= link_to new_type_path, class: "" do %>
          <span class="glyphicon glyphicon-plus-sign"></span> Add a type
          <% end %>

        </small>
      </h1>
    </div>
  </div>
</div>


<div class="row">

 <div class="col-md-6">

<div class="table-responsive">
<table class="table table-striped">

  <% @types.each do |type| %>
<tr>
  <td>
<%= type.name %> 

  </td>
  <td class="table-icons">
     <%= link_to edit_type_path(type), class: "" do %>
          <span class="glyphicon glyphicon-pencil"></span> 
          <% end %> 
     <%= link_to type, method: :delete, data: { confirm: 'Are you sure?' }, class: "" do %>
          <span class="glyphicon glyphicon-trash"></span> 
           <% end %> 

  </td>
</tr>
 <% end %> 
</table>
</div>



</div>

<div class="col-md-6">
  Graph
</div>



</div>

</div>



<footer class="footer">


</footer> 


