

<div class="container heading_container">
    <div class="row">
      <%= render 'layouts/messages' %>
      <h1 class="page_heading"> Style Code </h1>
      <h2 class="sub_heading"> <small>Organize your Closet Virtually </small> </h2>
      <div class="col-md-4 col-md-offset-4">

        <%= form_for @user do |f| %>
        <div class="form-group">
         <%= f.text_field :username, class: 'form-control',autofocus: true, placeholder: 'Enter Username' %>
        </div>
        <div class="form-group">
         <%= f.password_field :password, class: 'form-control', autofocus: true, placeholder: 'Enter Password' %>
        </div>
          

        <%= submit_tag 'Register', class: 'btn btn-lg btn-info btn-block' %>


        <% end %> 


    </div>
</div>
</div> <!-- /container -->



