<%= form_for(@retailer) do |f| %>
<% if @retailer.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@retailer.errors.count, "error") %> prohibited this retailer from being saved:</h2>

  <ul>
    <% @retailer.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>




<div class="row">
  <div class="col-md-12">
    <div class="form-group">

      <%= f.label :name , :class=>'control-label'%><br>
      <%= f.text_field :name, :class=>'form-control input-md'  %>
    </div>
  </div>

</div>

<div class="form-group">
  <%= f.submit "Submit", class: 'btn btn-info' %>
</div>


<% end %>

