
<%= form_for(@color) do |f| %>
<% if @color.errors.any? %>
<div class="row" id="error_explanation">
 <div class="alert alert-warning alert-dismissible col-md-12" id="error_explanation" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4><%= pluralize(@color.errors.count, "error") %> prohibited this color from being saved:</h4>

  <ul>
    <% @color.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>



</div>


<% end %>




<div class="row">
  <div class="col-md-12">
   <div class="form-group">
  
 
    <input type='text' id="showPaletteOnly" class=""/>

    <%= f.text_field :name, :class=>'' , readonly: true, :placeholder=> "black" %>
  
  </div>


  <div class="form-group">
     <%= f.text_field :hex_code, :class=>'hidden' %>

  </div>

<br/>
<div class="form-group">
  <%= f.submit "Submit", class: 'btn btn-info' %>
</div>

</div>



<% end %>

</div>







<script>



$("#showPaletteOnly").spectrum({
  showPaletteOnly: true,
  showPalette:true,
  hideAfterPaletteSelect:true,
  color: " <%= @color.name|| 'black' %>",                                        
  change: function(color){ 
    $("#color_name").val(color.toName()); 
    $("#color_hex_code").val(color.toHex());  },
    palette: [
    ['DeepPink', 'HotPink', 'LightPink','MediumVioletRed', 'Pink'],
    ['Crimson', 'DarkRed', 'Salmon', 'Red', 'Coral'],
    ['DarkOrange', 'Orange', 'Gold', 'OrangeRed', 'LightCoral'],
    ['DarkKhaki', 'Yellow', 'PeachPuff', 'LightYellow', 'Khaki'],
    ['Bisque', 'Brown', 'Chocolate', 'GoldenRod', 'Maroon'],
    ['Tan', 'SaddleBrown', 'RosyBrown', 'Olive', 'Cornsilk'],
    ['Chartreuse', 'DarkGreen', 'Green', 'Lime', 'SpringGreen'],
    ['CadetBlue', 'Cyan', 'Teal', 'DeepSkyBlue', 'LightSkyBlue'],
    ['Blue', 'BlueViolet', 'CornflowerBlue', 'DodgerBlue', 'SteelBlue'],
    ['MidnightBlue', 'Navy', 'LightBlue', 'DarkOrchid', 'DarkMagenta'],
    ['Fuchsia', 'Lavender', 'MediumPurple', 'Plum', 'Purple'],
    ['Beige', 'Black', 'White', 'DarkGray', 'Silver']
    ]
  })

</script>

























