


  <div class="col-md-6 col-md-offset-2 form_container">

    <%= form_for(@item) do |f| %>
    <%= f.hidden_field :user_id %>
    <fieldset>

     <% if params[:controller] == 'items' && params[:action] == 'new' %>
      <legend> Add an Item to your Virtual Closet </legend>

      <% else %>
       <legend> Edit your Item    <%= image_tag(@item.image_url, :width => 100, :class => "") if @item.image.present? %>  </legend>

       <% end %>
      
 

      <% if @item.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

        <ul>
          <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <div class="field">
              <%= f.label :name , :class=>'control-label'%><br>
              <%= f.text_field :name, :class=>'form-control input-md'  %>
            </div>
          </div>
        </div>



        <div class="col-sm-4">
          <div class="form-group">
            <%= f.label :cost , :class=>'control-label'%><br>
            <%= f.text_field :cost, :class=>'form-control input-md'  %>
          </div>
        </div>


        <div class="col-sm-4">
          <div class="form-group">
            <%= f.label :image , :class=>'control-label'%><br>
            <%= f.file_field :image %>
        
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label class=" control-label" for="radios">Fit</label>
            <div class="radios">
             <%= f.radio_button :fit, "perfect"%>
             <%= f.label :contactmethod, 'Perfect', :value => 'perfect' %>
             <br>
             <%= f.radio_button :fit, "loose"%>
             <%= f.label :contactmethod, 'Loose', :value => 'loose' %>
             <br>
             <%= f.radio_button :fit, "tight"%>
             <%= f.label :contactmethod, 'Tight', :value => 'tight' %>
           </div>
         </div>
       </div>

       <div class="col-sm-4">
        <div class="form-group">
          <label class=" control-label" for="radios">Season</label>
          <div class="radios">
           <%= f.radio_button :season, "autumn"%>
           <%= f.label :contactmethod, 'Autumn', :value => 'autumn' %>
           <br>
           <%= f.radio_button :season, "winter"%>
           <%= f.label :contactmethod, 'Winter', :value => 'winter' %>
           <br>
           <%= f.radio_button :season, "spring"%>
           <%= f.label :contactmethod, 'Spring', :value => 'spring' %>
           <br>
           <%= f.radio_button :season, "summer"%>
           <%= f.label :contactmethod, 'Summer', :value => 'summer' %>
         </div>
       </div>
     </div>

     <div class="col-sm-4">
  <div class="form-group">
    <%= f.label :retailer, "Retailer", class: 'control-label' %>
    <small>
     <%= link_to retailers_path, class: "" do %>
     <span class="glyphicon glyphicon-cog"></span> Retailer Manager
     <% end %>
   </small>
   <%= f.select(:itemretailers,options_from_collection_for_select(Retailer.all, :id, :name),  required:true,multiple: true,:class=> "form-control"  )%>
 </div>
</div>


 </div>

 <div class="row">

   <div class="col-sm-4">
    <div class="form-group">
       <%= f.label :color, "Color(s)", class: 'control-label' %>
       <small>
     <%= link_to colors_path, class: "" do %>
     <span class="glyphicon glyphicon-cog"></span> Color Manager
     <% end %>
   </small>
<%= f.select(:itemcolors,options_from_collection_for_select(Color.all, :id, :name), {:include_blank=>false},  required:true,multiple: true,:class=> "form-control"  )%>

   </div>
 </div>

 <div class="col-sm-4">
  <div class="form-group">
    <%= f.label :event, "Event(s)", class: 'control-label' %>
    <small>
     <%= link_to events_path, class: "" do %>
     <span class="glyphicon glyphicon-cog"></span> Event Manager
     <% end %>
   </small>
   <%= f.select(:itemevents,options_from_collection_for_select(Event.all, :id, :name), {:include_blank=>false},  required:true,multiple: true,:class=> "form-control"  )%>
 </div>
</div>

     <div class="col-sm-4">
          <div class="form-group">
        <%= f.label :brand, "Brand(s)", class: 'control-label' %>
        <small>
         <%= link_to brands_path, class: "" do %>
         <span class="glyphicon glyphicon-cog"></span> Brand Manager
         <% end %>
       </small>
       <%= f.select(:brands,options_from_collection_for_select(Brand.all, :id, :name), {:include_blank=>false},  required:true,multiple: true,:class=> "form-control"  )%>
     </div>
  
   </div>


</div>


<div class="row">

  <div class="col-sm-4">
  <div class="form-group">
    <%= f.label :type, "Type(s)", class: 'control-label' %>
    <small>
     <%= link_to types_path, class: "" do %>
     <span class="glyphicon glyphicon-cog"></span> Type Manager
     <% end %>
   </small>
   <%= f.select(:itemtypes,options_from_collection_for_select(Type.all, :id, :name), {:include_blank=>false},  required:true,multiple: true,:class=> "form-control"  )%>
 </div>
</div>



  <div class="col-sm-4">
    <div class="form-group">
      <div class="field">
        <%= f.label :notes , :class=>'control-label'%><br>
        <%= f.text_area :notes, size: '50X20', :class=>'form-control input-md'  %>
      </div>
    </div>
  </div>



  <div class="col-sm-4">
    <div class="form-group">
      <%= f.label :description , :class=>'control-label'%><br>
      <%= f.text_area :description, size: '50X20', :class=>'form-control input-md'  %>
    </div>
  </div>
</div>





<div class="form-group">
 <%= f.submit %>
</div>






</fieldset>
<% end %>

</div>






