  <%= render 'layouts/nav' %>

  <div class="container">
    <div class= "row">
      <div class= "col-md-12">
        <div class="page-header">
          <h1>Your Closet
           <small>

            <%= link_to new_item_path, class: "" , 'data-no-turbolink'=> true do %>
            <span class="glyphicon glyphicon-plus-sign"></span> Add an Item 
            <% end %>

               <%= link_to items_path, class: "" , 'data-no-turbolink'=> true do %>
            <span class="glyphicon glyphicon-refresh"></span>  Reset Filters
            <% end %>

          </small>
          <h1>

          </div>
        </div>
      </div>
    </div>


    <div id="filters" class= "centered-pills">
      <ul class="nav nav-pills">

        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
            Brands <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu" data-filter-group="color">
           <li role="presentation" class= "item" data-filter=".red"><%= link_to brands_path, class: "",'data-no-turbolink'=> true do %>
          <span class="glyphicon glyphicon-cog"></span> Brand Manager
          <% end %> 
          </li>

       <% brands = @items.map(&:brands).flatten.uniq %>
          
          <% brands.each do |brand| %>
            <li role="presentation" class= "item" data-filter=".<%= brand.name %>">
             <a role="menuitem" tabindex="-1" href="#"><%=  brand.name %> </a>
           </li>
          <% end %>
        </ul>
      </li>




      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
          Events <span class="caret"></span>
        </a>

        <ul class="dropdown-menu" role="menu" data-filter-group="color">
          <li role="presentation" class= "item" data-filter=".red">
           <%= link_to events_path, class: "" , 'data-no-turbolink'=> true do %>
          <span class="glyphicon glyphicon-cog"></span> Events Manager
          <% end %>
          </li>

          <% events = @items.map(&:events).flatten.uniq %>
          
          <% events.each do |event| %>
            <li role="presentation" class= "item" data-filter=".<%= event.name %>">
             <a role="menuitem" tabindex="-1" href="#"><%=  event.name %> </a>
           </li>
          <% end %>
        </ul>
      </li>


      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
          Colors <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" data-filter-group="color">
          <li role="presentation" class= "item" data-filter=".red">
            <%= link_to colors_path, class: "" , 'data-no-turbolink'=> true do %>
          <span class="glyphicon glyphicon-cog"></span> Color Manager
          <% end %>
          </li>
          <% colors = @items.map(&:colors).flatten.uniq %>
          
          <% colors.each do |color| %>
            <li role="presentation" class= "item" data-filter=".<%= color.name %>">
             <a role="menuitem" tabindex="-1" href="#"><%=  color.name %> </a>
           </li>
          <% end %>
        </ul>
      </li>



      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
          Retailers <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" data-filter-group="color">
          <li role="presentation" class= "item" data-filter=".red">
            <%= link_to retailers_path, class: "" , 'data-no-turbolink'=> true do %>
          <span class="glyphicon glyphicon-cog"></span> Retail Manager
          <% end %>
          </li>
          <% retailers = @items.map(&:retailers).flatten.uniq %>
          
          <% retailers.each do |retailer| %>
            <li role="presentation" class= "item" data-filter=".<%= retailer.name %>">
             <a role="menuitem" tabindex="-1" href="#"><%=  retailer.name %> </a>
           </li>
          <% end %>
        
        </ul>
      </li>

      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
          Types <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" data-filter-group="color">
          <li role="presentation" class= "item" data-filter=".red"><a role="menuitem" tabindex="-1" href="#">
            <%= link_to types_path, class: "" , 'data-no-turbolink'=> true do %>
          <span class="glyphicon glyphicon-cog"></span> Type Manager
          <% end %>
          </li>
          <% types = @items.map(&:types).flatten.uniq %>
          
          <% types.each do |type| %>
            <li role="presentation" class= "item" data-filter=".<%= type.name %>">
             <a role="menuitem" tabindex="-1" href="#"><%=  type.name %> </a>
           </li>
          <% end %>
        </ul>
      </li>



    </ul>
  </div>
  


  <div id="grid">

    <div id="closet">

      <% @items.each do |item| %>
      <% 
          klass = ''
          klass<< item.colors.map(&:name).join(' ')
          klass<< ' '
          klass<< item.retailers.map(&:name).join(' ')
          klass<< ' '
          klass<< item.brands.map(&:name).join(' ')
          klass<< ' '
          klass<< item.events.map(&:name).join(' ')
          klass<< ' '
          klass<< item.types.map(&:name).join(' ')

      %>
      <div class="closet_item <%= klass %>">
        <%= link_to item_path(item.id) do %>
       <%= image_tag( item.image , :alt=>  item.name , :width => "200", :class => "closetpics") %>
       <% end %>
     </div >







      <% end %>


</div>


</div>



<footer class="footer">

</footer> 


<!-- Latest compiled and minified JavaScript -->





<script>

$( function() {

  var $container = $('#closet').isotope({
    itemSelector: '.closet_item',
  });

  // store filter for each group
  var filters = {};

  $('#filters').on( 'click', '.item', function() {
    var $this = $(this);
    // get group key
    var $buttonGroup = $this.parents('.button-group');
    var filterGroup = $buttonGroup.attr('data-filter-group');
    // set filter for group
    filters[ filterGroup ] = $this.attr('data-filter');
    // combine filters
    var filterValue = '';
    for ( var prop in filters ) {
      filterValue += filters[ prop ];
    }
    // set filter for Isotope
    $container.isotope({ filter: filterValue });
  });

  // change is-checked class on buttons
  $('.button-group').each( function( i, buttonGroup ) {
    var $buttonGroup = $( buttonGroup );
    $buttonGroup.on( 'click', 'button', function() {
      $buttonGroup.find('.is-checked').removeClass('is-checked');
      $( this ).addClass('is-checked');
    });
  });


  
});



</script>

<script>
/*Dynamic Footer*/
var bumpIt = function() {
  $('body').css('margin-bottom', $('.footer').height());
},
didResize = false;

bumpIt();

$(window).resize(function() {
  didResize = true;
});
setInterval(function() {
  if(didResize) {
    didResize = false;
    bumpIt();
  }
}, 250);



</script>























