   <%= render 'layouts/nav' %>


   <div class ="container">
    <div class= "row">
      <div class= "col-md-12">
        <div class="page-header">
          <h1><%= @item.name %>
           <small>
            <%= link_to new_item_path, class: "" , 'data-no-turbolink'=> true do %>
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 
            <% end %>

               <%= link_to edit_item_path, class: "" , 'data-no-turbolink'=> true do %>
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 
            <% end %>

            <%= link_to @item, :method => :delete, data: { confirm: "Are you sure want to delete this item?" } do %>
            <span class="glyphicon glyphicon-trash"  aria-hidden="true"></span>
            <% end %>


          </small>
        </h1>
      </div>
    </div>
  </div>


  <div class="row">

   <div class="col-md-4">
    <div class="thumbnail">
     <%= image_tag(@item.image_url, :width => 300) if @item.image.present? %>
     <div class="caption">
      <p> <%= @item.description %></p>
    
    </div>
  </div>         
</div>


<div class="col-md-8">
  <ul class="list-group">
    <li class="list-group-item"><span>Brand: </span> <%= @item.brands.map(&:name).join(', ') %> </li>
    <li class="list-group-item"><span>Fit: </span> <%= @item.fit %> </li>
    <li class="list-group-item"><span>Retailer: </span> <%= @item.retailers.map(&:name).join(', ') %>  </li>
    <li class="list-group-item"><span>Color: </span> <%= @item.colors.map(&:name).join(', ') %>  </li>
    <li class="list-group-item"><span>Type: </span> <%= @item.types.map(&:name).join(', ') %>  </li>
    <li class="list-group-item"><span>Event: </span> <%= @item.events.map(&:name).join(', ') %>  </li>
    <li class="list-group-item"><span> Cost: </span> <%= @item.cost %> </li>
    <li class="list-group-item"><span> Notes: </span><%= @item.notes %> </li>

  </ul>
</div>


</div>

</div>



<footer class="footer">


</footer> 



























