<%= render 'layouts/nav' %>


<div class ="container">
  <div class= "row">
    <div class= "col-md-12">
      <div class="page-header">
        <h1>Brand Manager
         <small>

          <%= link_to new_brand_path, class: "" do %>
          <span class="glyphicon glyphicon-plus-sign"></span> Add a Brand
          <% end %>

        </small>
      </h1>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <!-- tabs -->
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#one" data-toggle="tab">Your Brands</a></li>
        <li><a href="#two" data-toggle="tab">Breakdown</a></li>
        <li><a href="#twee" data-toggle="tab">Key Stats </a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="one">

          <div class="table-responsive">
            <table class="table table-striped">

              <% @brands.each do |brand| %>
              <tr>
                <td>
                  <%= brand.name %> 

                </td>
                <td class="table-icons">
                 <%= link_to edit_brand_path(brand), class: "" do %>
                 <span class="glyphicon glyphicon-pencil"></span> 
                 <% end %> 
                 <%= link_to brand, method: :delete, data: { confirm: 'Are you sure?' }, class: "" do %>
                 <span class="glyphicon glyphicon-trash"></span> 
                 <% end %> 

               </td>
             </tr>
             <% end %> 
           </table>
         </div>



       </div>
       <div class="tab-pane" id="two">

        <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto">
        </div>


      </div>
      <div class="tab-pane" id="twee">
         <ul class="list-group">
      <li class="list-group-item"><span> Brands Created: </span> 10</li>
      <li class="list-group-item"><span> Most Frequent brand: </span> Orange</li>
      <li class="list-group-item"><span>Least Frequent brand: </span> Brown </li>
    </ul>




      </div>
      </div>
    </div>
  </div>
</div>

</div>



<footer class="footer">


</footer> 


